######################################
#  Contains variables for LibreChat  #
######################################

# LibreChat key generator
# https://www.librechat.ai/toolkit/creds_generator

# System
HOST=localhost
PORT=8000
UID=0
GID=0
MONGO_URI=mongodb://127.0.0.1:27017/LibreChat
DOMAIN_CLIENT=http://localhost:8000
DOMAIN_SERVER=http://localhost:8000
NO_INDEX=true
TRUST_PROXY=1
CONSOLE_JSON=false
DEBUG_LOGGING=true
DEBUG_CONSOLE=false
NODE_MAX_OLD_SPACE_SIZE=6144
#OPENAI_API_KEY=user_provided
CREDS_KEY=GENERATE_NEW_KEY
CREDS_IV=GENERATE_NEW_KEY
ENDPOINTS=custom,agents

LITELLM_API_KEY=sk-papaia-default-key

# Stable Diffusion
SD_WEBUI_URL=http://host.docker.internal:7860

# Search
SEARCH=true
MEILI_NO_ANALYTICS=true
MEILI_HOST=http://0.0.0.0:7700
MEILI_MASTER_KEY=GENERATE_NEW_KEY

# Web Search
SEARXNG_INSTANCE_URL=http://searxng:8080
SEARXNG_API_KEY=sk-not-used
FIRECRAWL_API_KEY=sk-not-used
FIRECRAWL_API_URL=http://firecrawl:3002
FIRECRAWL_VERSION=v1
JINA_API_KEY=sk-YOUR_JINA_API_KEY
#JINA_API_URL=http://jina-reranker-api:8000/rerank
JINA_API_URL=http://notused:8000/rerank

# Vector DB
VECTORDB_NAME="librechat"
VECTORDB_USER="lcvdbuser"
VECTORDB_PASSWORD="GENERATE_NEW_PASSWORD"

# RAG
RAG_OPENAI_API_KEY=sk-YOUR_OPENAI_API_KEY

# User System
OPENAI_MODERATION=false
BAN_VIOLATIONS=true
BAN_DURATION=1000 * 60 * 60 * 2
BAN_INTERVAL=20
OGIN_VIOLATION_SCORE=1
REGISTRATION_VIOLATION_SCORE=1
CONCURRENT_VIOLATION_SCORE=1
MESSAGE_VIOLATION_SCORE=1
NON_BROWSER_VIOLATION_SCORE=20
TTS_VIOLATION_SCORE=0
STT_VIOLATION_SCORE=0
FORK_VIOLATION_SCORE=0
IMPORT_VIOLATION_SCORE=0
FILE_UPLOAD_VIOLATION_SCORE=0
LOGIN_MAX=7
LOGIN_WINDOW=5
REGISTER_MAX=5
REGISTER_WINDOW=60
LIMIT_CONCURRENT_MESSAGES=true
CONCURRENT_MESSAGE_MAX=2
LIMIT_MESSAGE_IP=true
MESSAGE_IP_MAX=40
MESSAGE_IP_WINDOW=1
LIMIT_MESSAGE_USER=false
MESSAGE_USER_MAX=40
MESSAGE_USER_WINDOW=1
ILLEGAL_MODEL_REQ_SCORE=5

# Registration
ALLOW_EMAIL_LOGIN=true
ALLOW_REGISTRATION=true
ALLOW_SOCIAL_LOGIN=false
ALLOW_SOCIAL_REGISTRATION=false
ALLOW_PASSWORD_RESET=false
ALLOW_UNVERIFIED_EMAIL_LOGIN=true
SESSION_EXPIRY=1000 * 60 * 2880 # 2 days
REFRESH_TOKEN_EXPIRY=(1000 * 60 * 60 * 24) * 7
JWT_SECRET=GENERATE_NEW_KEY
JWT_REFRESH_SECRET=GENERATE_NEW_KEY
USE_ENTRA_ID_FOR_PEOPLE_SEARCH=false
ENTRA_ID_INCLUDE_OWNERS_AS_MEMBERS=false

# Image
IMAGE_GEN_OAI_API_KEY=sk-your-key
IMAGE_GEN_OAI_BASEURL=http://litellm:4000/
IMAGE_GEN_OAI_MODEL=gpt-image-1.5

# UI
APP_TITLE="Home Server Chat"
HELP_AND_FAQ_URL=https://librechat.ai