###############################################
#  Contains variables for docker-compose.yml  #
###############################################

LITELLM_MASTER_KEY="sk-papaia-default-key"
LITELLM_SALT_KEY="sk-CREATE_NEW_SALT_KEY"  
LITELLM_PG_PASSWORD="CREATE_NEW_PG_PASSWORD"

