CREDS_KEY=GENERATE_CREDS_KEY
CREDS_IV=GENERATE_CREDS_IV
JWT_SECRET=GENERATE_JWT_SECRET
JWT_REFRESH_SECRET=GENERATE_JWT_REFRESH_SECRET
TRUST_PROXY=1
MEILI_MASTER_KEY=GENERATE_MEILI_MASTER_KEY
LITELLM_API_KEY=GENERATE_LITELLM_API_KEY
OPENID_CLIENT_ID=librechat
OPENID_CLIENT_SECRET=GENERATE_LIBRECHAT_CLIENT_SECRET
OPENID_ISSUER=http://host.docker.internal:8110/realms/papaia
DOMAIN_SERVER=http://host.docker.internal:8000
DOMAIN_CLIENT=http://host.docker.internal:8000
JINA_API_KEY=GENERATE_JINAAI_RERANKER_API_KEY
