# Predefined environment variables for homepage service
UID=0
GID=0

# Custom environment variables for homepage service
HP_ALLOWED_HOSTS=localhost:8300  #Comma separated list of allowed hosts, e.g. "localhost,server:8300,server.mydomain.com". See gethomepage.dev/installation/#homepage_allowed_hosts for more details.