KC_DB_USER=papaia_keycloak
KC_DB_PASSWORD=keycloak
KC_ADMIN_PASSWORD=GENERATE_KC_ADMIN_PASSWORD
KC_LIBRECHAT_CLIENT_SECRET=GENERATE_KC_LIBRECHAT_CLIENT_SECRET
KC_LITELLM_CLIENT_SECRET=GENERATE_KC_LITELLM_CLIENT_SECRET
KC_OAUTH2_PROXY_CLIENT_SECRET=GENERATE_KC_OAUTH2_PROXY_CLIENT_SECRET
KC_HOSTNAME=http://host.docker.internal:8110
KC_PROXY_HEADERS=xforwarded
