PAPAIA_VERSION=
COMPOSE_PROJECT_NAME=papaia
COMPOSE_PROFILES=keycloak,nginx,oauth2-proxy,librechat,litellm
DOCKER_NETWORK="papaia-net"
PAPAIA_CONFIG_DIR=/srv/papaia/config
HOST_IP=0.0.0.0
PAPAIA_HOST=http://host.docker.internal
AUTH_HOST=http://host.docker.internal:8110
AUTH_PROVIDER=internal_keycloak
OIDC_ISSUER=http://host.docker.internal:8110/realms/papaia
OIDC_ISSUER_KC_AUTH=http://host.docker.internal:8110/realms/papaia/protocol/openid-connect/auth
OIDC_ISSUER_KC_TOKEN=http://keycloak:8080/realms/papaia/protocol/openid-connect/token
OIDC_ISSUER_KC_CERTS=http://keycloak:8080/realms/papaia/protocol/openid-connect/certs
OAUTH2_PROXY_CLIENT_ID=oauth2-proxy
OAUTH2_PROXY_CLIENT_SECRET=GENERATE_OAUTH2_PROXY_CLIENT_SECRET
OAUTH2_PROXY_COOKIE_SECRET=GENERATE_NEW_KEY_32BYTES_BASE64
OAUTH2_PROXY_COOKIE_SECURE=false
LIBRECHAT_EXT_PORT=8000
LITELLM_EXT_PORT=8200
LOCALAI_EXT_PORT=8080
HOMEPAGE_EXT_PORT=8300
SEARXNG_EXT_PORT=8500
KEYCLOAK_EXT_PORT=8110
