######################################################
#  Contains global variables for docker-compose.yml  #
######################################################

# Network name must match the one in starths.sh and docker-compose.yml
# Don't change this unless you know what you're doing. 
DOCKER_NETWORK="hs-net"

# External ports
FIRECRAWL_EXT_PORT=3002
LIBRECHAT_EXT_PORT=8000
LOCALAI_EXT_PORT=8080
PAPERLESS_EXT_PORT=8010
NPM_ADMIN_EXT_PORT=8100
KEYCLOAK_EXT_PORT=8110
TECHNITIUM_EXT_PORT=8120
HOME_ASSISTANT_EXT_PORT=8123 # Variable not used, Home Assistant is running in host network mode
LITELLM_EXT_PORT=8200
LITELLM_EXT_PG_PORT=8210
LITELLM_EXT_PROMETHEUS_PORT=8230
HOMEPAGE_EXT_PORT=8300
SEARXNG_EXT_PORT=8500
JINAAI_EXT_PORT=8600

MCP_DUCKDUCKGO_EXT_PORT=9500
MCP_PAPERLESS_EXT_PORT=9520
